<a href="https://colab.research.google.com/github/dmarinere/ds/blob/master/Emmanuel_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [0]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')
sample = pd.read_csv('sample_submission.csv')

In [318]:
train.shape, test.shape
#i want to find the shape of the data

((7160, 14), (3069, 13))

In [319]:
test.head()

  Customer Id  YearOfObservation  ...  NumberOfWindows  Geo_Code
0      H11920               2013  ...                3      3310
1      H11921               2016  ...                3      3310
2       H9805               2013  ...                .      3310
3       H7493               2014  ...                3      3321
4       H7494               2016  ...                3      3321

[5 rows x 13 columns]

In [320]:
train.head()

  Customer Id  YearOfObservation  ...  Geo_Code  Claim
0      H14663               2013  ...      1053      0
1       H2037               2015  ...      1053      0
2       H3802               2014  ...      1053      0
3       H3834               2013  ...      1053      0
4       H5053               2014  ...      1053      0

[5 rows x 14 columns]

In [321]:
train.describe(include='all')

       Customer Id  YearOfObservation  ...  Geo_Code        Claim
count         7160        7160.000000  ...      7058  7160.000000
unique        7160                NaN  ...      1307          NaN
top         H19120                NaN  ...      6088          NaN
freq             1                NaN  ...       143          NaN
mean           NaN        2013.669553  ...       NaN     0.228212
std            NaN           1.383769  ...       NaN     0.419709
min            NaN        2012.000000  ...       NaN     0.000000
25%            NaN        2012.000000  ...       NaN     0.000000
50%            NaN        2013.000000  ...       NaN     0.000000
75%            NaN        2015.000000  ...       NaN     0.000000
max            NaN        2016.000000  ...       NaN     1.000000

[11 rows x 14 columns]

In [322]:
test.describe()

       YearOfObservation  Insured_Period  ...  Building_Type  Date_of_Occupancy
count        3069.000000     3069.000000  ...    3069.000000        2341.000000
mean         2013.593679        0.922806  ...       2.359400        1966.781717
std             1.372138        0.219066  ...       0.998464          25.238702
min          2012.000000        0.000000  ...       1.000000        1750.000000
25%          2012.000000        1.000000  ...       2.000000        1960.000000
50%          2013.000000        1.000000  ...       2.000000        1968.000000
75%          2015.000000        1.000000  ...       3.000000        1980.000000
max          2016.000000        1.000000  ...       4.000000        2012.000000

[8 rows x 6 columns]

In [323]:
train.dtypes

Customer Id            object
YearOfObservation       int64
Insured_Period        float64
Residential             int64
Building_Painted       object
Building_Fenced        object
Garden                 object
Settlement             object
Building Dimension    float64
Building_Type           int64
Date_of_Occupancy     float64
NumberOfWindows        object
Geo_Code               object
Claim                   int64
dtype: object

In [324]:
test.dtypes

Customer Id            object
YearOfObservation       int64
Insured_Period        float64
Residential             int64
Building_Painted       object
Building_Fenced        object
Garden                 object
Settlement             object
Building Dimension    float64
Building_Type           int64
Date_of_Occupancy     float64
NumberOfWindows        object
Geo_Code               object
dtype: object

In [325]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7153 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7054 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   6652 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7058 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.2+ KB

In [0]:
train['Building_Fenced'] = train['Building_Fenced'].replace({'N':1, 'V':0})
train['Building_Painted'] = train['Building_Painted'].replace({'N':1, 'V':0})
train['Garden'] = train['Garden'].replace({'V':1, 'O':0})
train['Settlement'] = train['Settlement'].replace({'U':1, 'R':0})

In [0]:
test['Building_Fenced'] = test['Building_Fenced'].replace({'N':1, 'V':0})
test['Building_Painted'] = test['Building_Painted'].replace({'N':1, 'V':0})
test['Garden'] = test['Garden'].replace({'V':1, 'O':0})
test['Settlement'] = test['Settlement'].replace({'U':1, 'R':0})

In [328]:
train['NumberOfWindows'].value_counts()

   .    3551
4        939
3        844
5        639
2        363
6        306
7        211
8        116
1         75
>=10      67
9         49
Name: NumberOfWindows, dtype: int64

In [0]:
window_train = pd.get_dummies(train['NumberOfWindows'])
window_test = pd.get_dummies(test['NumberOfWindows'])

In [0]:
train = pd.concat([train, window_train], axis=1)
test = pd.concat([test, window_test], axis=1)

In [0]:

train = train.drop('NumberOfWindows', axis=1)
test = test.drop('NumberOfWindows', axis=1)

In [332]:
test.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  4
Settlement              0
Building Dimension     13
Building_Type           0
Date_of_Occupancy     728
Geo_Code               13
   .                    0
1                       0
2                       0
3                       0
4                       0
5                       0
6                       0
7                       0
8                       0
9                       0
>=10                    0
dtype: int64

In [333]:
train.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
Geo_Code              102
Claim                   0
   .                    0
1                       0
2                       0
3                       0
4                       0
5                       0
6                       0
7                       0
8                       0
9                       0
>=10                    0
dtype: int64

In [334]:
train.head()

  Customer Id  YearOfObservation  Insured_Period  Residential  ...  7  8  9  >=10
0      H14663               2013             1.0            0  ...  0  0  0     0
1       H2037               2015             1.0            0  ...  0  0  0     0
2       H3802               2014             1.0            0  ...  0  0  0     0
3       H3834               2013             1.0            0  ...  0  0  0     0
4       H5053               2014             1.0            0  ...  0  0  0     0

[5 rows x 24 columns]

In [0]:
train['Date_of_Occupancy']= train['Date_of_Occupancy'].fillna(value=1980)
test['Date_of_Occupancy']= test['Date_of_Occupancy'].fillna(value=1980)

In [0]:
train['Garden']= train['Garden'].fillna(value=0)
test['Garden']= test['Garden'].fillna(value=0)

In [0]:
train['Building Dimension'] = train['Building Dimension'].fillna(value=1083)
test['Building Dimension']= test['Building Dimension'].fillna(value=900)

In [0]:
train=train.drop(['Geo_Code'], axis=1)
test=test.drop(['Geo_Code'], axis=1)

In [0]:
#modelling our data
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import  confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import train_test_split

In [0]:
test_id = test["Customer Id"]

In [0]:
train = train.drop("Customer Id", axis=1)
test  = test.drop("Customer Id", axis=1)

In [342]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2148 entries, 1894 to 4559
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   2148 non-null   int64
 1   Insured_Period      2148 non-null   float64
 2   Residential         2148 non-null   int64
 3   Building_Painted    2148 non-null   int64
 4   Building_Fenced     2148 non-null   int64
 5   Garden              2148 non-null   float64
 6   Settlement          2148 non-null   int64
 7   Building Dimension  2148 non-null   float64
 8   Building_Type       2148 non-null   int64
 9   Date_of_Occupancy   2148 non-null   float64
 10  Geo_Code            2148 non-null   float64
 11     .                2148 non-null   uint8
 12  1                   2148 non-null   uint8
 13  2                   2148 non-null   uint8
 14  3                   2148 non-null   uint8
 15  4                   2148 non-null   uint8
 16  5                   2148 non-null   uint8
 17  6                   2148 non-null   uint8
 18  7                   2148 non-null   uint8
 19  8                   2148 non-null   uint8
 20  9                   2148 non-null   uint8
 21  >=10                2148 non-null   uint8
dtypes: float64(5), int64(6), uint8(11)
memory usage: 224.4 KB

In [0]:
X = train.drop('Claim', axis=1)
y = train.Claim

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [345]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_test, y_test)

Y_pred = random_forest.predict(X_test)

random_forest.score(X_test, y_test)
acc_random_forest = round(random_forest.score(X_test, y_test) * 100, 2)
print(round(acc_random_forest,2), "%")

99.58 %

In [0]:
Y_pred2 = random_forest.predict(test)

In [347]:
sample.head()

  Customer Id  Claim
0          H0      1
1      H10000      1
2      H10001      1
3      H10002      1
4      H10003      1

In [348]:
sample

     Customer Id  Claim
0             H0      1
1         H10000      1
2         H10001      1
3         H10002      1
4         H10003      1
...          ...    ...
3063       H9987      1
3064       H9988      1
3065       H9994      1
3066       H9996      1
3067       H9998      1

[3068 rows x 2 columns]

In [0]:
sample = pd.DataFrame()
sample['Customer Id'] = test_id
sample['Claim'] = Y_pred2
sample.to_csv('answer5.csv',index=False )

In [350]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)

Y_pred3 = knn.predict(test)

acc_knn = round(knn.score(X_train, y_train) * 100, 2)
print(round(acc_knn,2,), "%")

84.84 %

In [0]:
sample = pd.DataFrame()
sample['Customer Id'] = test_id
sample['Claim'] = Y_pred3
sample.to_csv('answer3.csv',index=False )

In [352]:
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(X_test, y_test)

Y_pred = logreg.predict(test)

acc_log = round(logreg.score(X_test, y_test) * 100, 2)
print(round(acc_log,2,), "%")

78.72 %

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [0]:
from xgboost import XGBClassifier

In [0]:
model=XGBClassifier()
model.fit(X_train,y_train)
Y_xgb = model.predict(test)

In [0]:
sample = pd.DataFrame()
sample['Customer Id'] = test_id
sample['Claim'] = Y_xgb
sample.to_csv('answer6.csv',index=False )

In [356]:
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.72908367 0.74900398 0.74850299 0.75449102 0.73453094 0.73652695
 0.76447106 0.750499   0.78043912 0.74451098]
Mean: 0.7492059705290615
Standard Deviation: 0.014288931435978106