<a href="https://colab.research.google.com/github/dmarinere/ds/blob/master/Zindi_works_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import sklearn as sk
import xgboost as xgb
import matplotlib.pyplot as plt

In [0]:
pwd

'/content'

In [0]:
df= pd.read_csv("train.csv")

In [0]:
df.head()

  Customer Id  YearOfObservation  ...  Geo_Code  Claim
0      H14663               2013  ...      1053      0
1       H2037               2015  ...      1053      0
2       H3802               2014  ...      1053      0
3       H3834               2013  ...      1053      0
4       H5053               2014  ...      1053      0

[5 rows x 14 columns]

In [0]:
df2 = pd.read_csv("test.csv")

In [0]:
df.columns

Index(['Customer Id', 'YearOfObservation', 'Insured_Period', 'Residential',
       'Building_Painted', 'Building_Fenced', 'Garden', 'Settlement',
       'Building Dimension', 'Building_Type', 'Date_of_Occupancy',
       'NumberOfWindows', 'Geo_Code', 'Claim'],
      dtype='object')

In [0]:
df.describe()

       YearOfObservation  Insured_Period  ...  Date_of_Occupancy        Claim
count        7160.000000     7160.000000  ...        6652.000000  7160.000000
mean         2013.669553        0.909758  ...        1964.456404     0.228212
std             1.383769        0.239756  ...          36.002014     0.419709
min          2012.000000        0.000000  ...        1545.000000     0.000000
25%          2012.000000        0.997268  ...        1960.000000     0.000000
50%          2013.000000        1.000000  ...        1970.000000     0.000000
75%          2015.000000        1.000000  ...        1980.000000     0.000000
max          2016.000000        1.000000  ...        2016.000000     1.000000

[8 rows x 7 columns]

In [0]:
df2.describe()

       YearOfObservation  Insured_Period  ...  Building_Type  Date_of_Occupancy
count        3069.000000     3069.000000  ...    3069.000000        2341.000000
mean         2013.593679        0.922806  ...       2.359400        1966.781717
std             1.372138        0.219066  ...       0.998464          25.238702
min          2012.000000        0.000000  ...       1.000000        1750.000000
25%          2012.000000        1.000000  ...       2.000000        1960.000000
50%          2013.000000        1.000000  ...       2.000000        1968.000000
75%          2015.000000        1.000000  ...       3.000000        1980.000000
max          2016.000000        1.000000  ...       4.000000        2012.000000

[8 rows x 6 columns]

In [0]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         3069 non-null   object
 1   YearOfObservation   3069 non-null   int64
 2   Insured_Period      3069 non-null   float64
 3   Residential         3069 non-null   int64
 4   Building_Painted    3069 non-null   object
 5   Building_Fenced     3069 non-null   object
 6   Garden              3065 non-null   object
 7   Settlement          3069 non-null   object
 8   Building Dimension  3056 non-null   float64
 9   Building_Type       3069 non-null   int64
 10  Date_of_Occupancy   2341 non-null   float64
 11  NumberOfWindows     3069 non-null   object
 12  Geo_Code            3056 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 311.8+ KB

In [0]:
df2.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  4
Settlement              0
Building Dimension     13
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

In [0]:
df["Building Dimension"].nunique()

2043

In [0]:
2020 - df['Date_of_Occupancy']

0        60.0
1       170.0
2        60.0
3        60.0
4       220.0
        ...
7155     19.0
7156     40.0
7157     28.0
7158     48.0
7159     16.0
Name: Date_of_Occupancy, Length: 7160, dtype: float64

In [0]:
df["Date_of_Occupancy"]=df["Date_of_Occupancy"].fillna(1970)

In [0]:
df2["Date_of_Occupancy"]=df2["Date_of_Occupancy"].fillna(1968)

In [0]:
df.isnull().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy       0
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 13 columns):
traveller_ID        916 non-null int64
ticket_class        916 non-null int64
name                916 non-null object
sex                 916 non-null object
age                 916 non-null float64
Siblings_spouses    916 non-null int64
Parchil             916 non-null int64
TickNum             916 non-null object
fare                915 non-null float64
cabin               204 non-null object
embarked            916 non-null object
MedBoat             327 non-null object
Survived            916 non-null int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.6+ KB

In [0]:
data_dummy = pd.get_dummies(df[["embarked","sex"]])

In [0]:
df = pd.concat([df, data_dummy], axis=1)

In [0]:
drop_col = ["sex", "embarked"]
df.drop(drop_col, axis=1, inplace=True)

In [0]:
df.head()

  Customer Id  YearOfObservation  ...  Geo_Code  Claim
0      H14663               2013  ...      1053      0
1       H2037               2015  ...      1053      0
2       H3802               2014  ...      1053      0
3       H3834               2013  ...      1053      0
4       H5053               2014  ...      1053      0

[5 rows x 14 columns]

In [0]:
y= df["Survived"]
x= df.drop(["Survived"], axis=1)

In [0]:
#train_test_split
from sklearn.model_selection import train_test_split

x_train, x_test,y_train, y_test= train_test_split(x,y,test_size=0.3,random_state=42)

In [0]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 8)
classifier.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Willer, Mr. Aaron ("Abi Weller")'

In [0]:
y_pred = classifier.predict(x_test)

In [0]:
# evaluating performance : Accuracy, Precision, Recall
from sklearn import metrics

print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("f1_score: ", metrics.f1_score(y_test, y_pred))
print("Recall: ", metrics.recall_score(y_test, y_pred))

In [0]:
classifier.score(x,y metric="recall")

In [0]:
test = pd.read_csv("test.csv")

In [0]:
test.isnull().sum()

In [0]:

ID= test ["traveller_ID"]

drop_col= ["fare","cabin","traveller_ID","cabin","TickNum","name","MedBoat"]

test.drop(drop_col, axis=1, inplace=True)

test["age"]= test["age"].fillna(24)

test["embarked"] = test["embarked"].fillna("S")

test_dummy = pd.get_dummies(test[["embarked","sex"]])

test = pd.concat([test, test_dummy], axis=1)

drop_col = ["sex", "embarked"]

test.drop(drop_col, axis=1, inplace=True)

In [0]:
test["younger"] =test["age"]< 18

In [0]:
test["older"] = test["age"] > 65

In [0]:
test.head()

In [0]:
predict =classifier.predict(test)

In [0]:
result = pd.read_csv("sample_submission.csv")

In [0]:
result["Survived"] = predict

In [0]:
result

     traveller_ID  Survived
0            1148         0
1            1049         0
2             982         0
3             808         0
4            1195         0
..            ...       ...
388           325         0
389           919         0
390           532         0
391          1159         1
392           513         1

[393 rows x 2 columns]

In [0]:
result.to_csv("solution.csv",index= False)